{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('predict')}}" method="POST" id="contactForm" name="contactForm" class="contactForm">
		<div class="row" style="border-style: solid; border-color: red;">
            <div class="col-md-12">
                <div>
                    <label style="color: white; font-weight: bold;">STUDENT DETAILS</label>                                                       
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Student ID:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="sid" id="sid" required>
                </div>
            </div>
            <div class="col-md-12"> 
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Student Name:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred; text-transform: uppercase;" name="sname" id="sname" pattern="[A-Za-z ]*" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Branch:</label>
                    <select class="form-control" style="border-style: solid; border-color: darkred;" id="branch" name="branch" required="required">
                        <option style="background-color: #495057;" value="" selected disabled>--SELECT--</option>
                        <option style="background-color: #495057;" value="APPLIED ELECTRONICS AND INSTRUMENTATION">APPLIED ELECTRONICS AND INSTRUMENTATION</option>
                        <option style="background-color: #495057;" value="COMPUTER SCIENCE ENGINEERING">COMPUTER SCIENCE ENGINEERING</option>
                        <option style="background-color: #495057;" value="ELECTRICAL ENGINEERING">ELECTRICAL ENGINEERING</option>
                        <option style="background-color: #495057;" value="ELECTRONICS AND COMMUNICATIONS ENGINEERING">ELECTRONICS AND COMMUNICATIONS ENGINEERING</option>
                        <option style="background-color: #495057;" value="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</option>
                        <option style="background-color: #495057;" value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                        <option style="background-color: #495057;" value="MCA">MCA</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Degree:</label>
                    <select class="form-control" style="border-style: solid; border-color: darkred;" id="degree" name="degree" required>
                        <option style="background-color: #495057;" value="" selected disabled>--SELECT--</option>
                        <option style="background-color: #495057;" value="B. TECH.">B. TECH.</option>
                        <option style="background-color: #495057;" value="M. TECH.">M. TECH.</option>
                        <option style="background-color: #495057;" value="MCA">MCA</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="border-style: solid; border-color: red;">
            <div class="col-md-12">
                <div>
                    <label style="color: white; font-weight: bold;">SCORE OBTAINED (out of 100)</label>
                </div>
            </div>
			<div class="col-md-12">
				<div class="form-group">
                    <label style="color: white; font-weight: bold;">Aptitude:</label>
					<input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="aptitude" id="aptitude" pattern="([0-9]|[1-9][0-9]|100)" required>
				</div>
			</div>
			<div class="col-md-12"> 
				<div class="form-group">
                    <label style="color: white; font-weight: bold;">English:</label>
					<input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="english" id="english" pattern="([0-9]|[1-9][0-9]|100)" required>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
                    <label style="color: white; font-weight: bold;">Quantitative:</label>
					<input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="quantitative" id="quantitative" pattern="([0-9]|[1-9][0-9]|100)" required>
				</div>
			</div>
            <div class="col-md-12"> 
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Analytical:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="analytical" id="analytical" pattern="([0-9]|[1-9][0-9]|100)" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Domain:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="domain" id="domain" pattern="([0-9]|[1-9][0-9]|100)" required>
                </div>
            </div>
            <div class="col-md-12"> 
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Computer Fundamental:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="computer_fundamental" id="computer_fundamental" pattern="([0-9]|[1-9][0-9]|100)" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="color: white; font-weight: bold;">Coding:</label>
                    <input type="text" class="form-control" style="border-style: solid; border-color: darkred;" name="coding" id="coding" pattern="([0-9]|[1-9][0-9]|100)" required>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<input type="submit" value="Predict" class="btn btn-primary">
                </div>
			</div>
		</div>
	</form>
{% endblock content %}